<% if current_user %>
<%= render "shared/signed_in_nav" %>
<% else %>
<%= render "shared/not_signed_in_nav" %>

<% end %>

<div class="container">
  <br>
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Select Category</a>
  <ul id='dropdown1' class='dropdown-content'>
    <li class="dropdown-list">Company/outreach date</li>
    <li class="dropdown-list">Response of Outreach</li>
    <li class="dropdown-list">Directly Applied online</li>
    <li class="dropdown-list">Phone Interview</li>
    <li class="dropdown-list">Take Home Assignment</li>
    <li class="dropdown-list">In Person Interview</li>
  </ul>
  <p id="anthony" style="margin-left: 10px;" class="waves-effect waves-light btn add-table">Add to table</p>
  <input placeholder="Select a category above ^" type="text" class="input-value"></input>

<table class="">
  <div class="row">
    <div class="col s2">
      <p id="company-and-date">Company/outreach date</p>
      <ul class="company-and-date">
      </ul>
    </div>

    <div class="col s2">
      <p id="response">Response of Outreach</p>
      <ul class="response">
      </ul>
    </div>

    <div class="col s2">
      <p id="directly-applied">Directly Applied online</p>
      <ul class="directly-applied">
      </ul>
    </div>

    <div class="col s2">
      <p id="phone-interview">Phone Interview</p>
      <ul class="phone-interview">
      </ul>
    </div>

     <div class="col s2">
       <p id="homework">Take Home Assignment</p>
       <ul class="homework">
       </ul>
    </div>

    <div class="col s2">
      <p id="in-person">In Person Interview</p>
      <ul class="in-person">
      </ul>
    </div>

  </div>
</div>
