<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo center">Job Stats</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/users/new"> Create Account </a></li>
      <li><a href="/login"> Login </a></li>

    </ul>
  </div>
</nav>
</div>
