<div class="navbar-fixed">
<nav>
  <div class="nav-wrapper blue">
    <a href="#" class="brand-logo center">Job Stats</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a class="applied-percent">Reply Percentage: </a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Email Examples"%></li>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>
</div>
